.mainbox {
    background-color: #95c2de;
    margin: auto;
    height: 400px;
    width: 600px;
    position: relative;
}

.err {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 20%;
    top: 8%;
}

.far {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 9.5rem;
    position: absolute;
    left: 40%;
    top: 8%;
}

.err2 {
    color: #ffffff;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 11rem;
    position: absolute;
    left: 68%;
    top: 8%;
}

.msg {
    text-align: center;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    position: absolute;
    left: 16%;
    top: 45%;
    width: 75%;
    margin-top: 20%;
}

link {
    text-decoration: none;
    color: white;
}

link:hover {
    text-decoration: underline;
}